*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

.header{
    background-color: darkgray;
    margin-bottom: 20px;
    width: 100%;
}

.logo{
    padding: 10px;
}

.header>a{

    margin-left: 95%;
    margin-top: -10px;

}

.language{
    width: 20px;
    height: 20px;
    
}

.field{
    margin-left: 40%;
}

a{
   text-decoration: none;
   list-style: none;
   color: black; 
}

.word{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
} 


.ButtonOptions{

    width: 100px;
    height: 100px;
    
    

}   

.img{

    width: 100px;
    height: 100px;

}

.ResulWord{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left; 

}

/* options li*/

.ul{
    list-style: none;
    display: flex;
     
}

.option{
    list-style: none;
    cursor: pointer;

}

.footer{
    width: 100%;
    background-color: darkgray;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

.footer >p{
    padding: 5px;

}

.ImgFooter{
    width: 20px;
    height: 20px;
}

/*smartphone */

@media(max-width: 480px){
    
.field{
    margin-left: 10%;
}

.header>a{

    margin-left: 85%;
    margin-top: -10px;

}

}

@media(max-width: 320px){
    
    .field{
        margin-left: 4%;
    }
    
    }