*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

a{
   text-decoration: none;
   list-style: none;
   color: black; 
}

.word{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
} 


.ButtonOptions{

    width: 100px;
    height: 100px;
    
    

}   

.img{

    width: 100px;
    height: 100px;

}

.ResulWord{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left; 

}

/* options li*/

.ul{
    list-style: none;
    display: flex;
     
}

.option{
    list-style: none;
    cursor: pointer;

}